/*
* @Author: Marte
* @Date:   2017-06-09 15:47:50
* @Last Modified by:   Marte
* @Last Modified time: 2017-06-09 17:40:38
*/
.image{
    width:210px;
    height:200px;
    border:1px solid gray;
    float:left;
    margin:5px;
    opacity:0.5;
}
.image img{
    width:200px;
    height:160px;
    border:2px solid #bebebe;
    margin:4px;
}
.image a:hover img{
    border:1px solid #333333;
}
.image:hover
{
        opacity:1.0;
}
.desc{
     text-align:center;
     font-weight:normal;
     width:210px;
     font-size:12px;
     margin:10px 5px 10px 5px;
}


