            a:link
			{color:#522a06;}
			body
			{   background-image: url(image/bodybg.gif);
				font-size: 12px;
				color:brown;
				font-family: '宋体';
			}
			#header
			{   height:205px;
				background-image:url(image/bg.gif);
				background-position:center top;
			}
			#banner
			{   width:1000px;
				height:164px;
				margin:0 auto;
				position:absolute;
				left:210px;
				top:38px;
			}
			#nav
			{   height:40px;
				position: absolute;
				top:172px;
			}
			.nav_body
			{   width:1000px;
				margin:0 auto;
			}
			.nav_content
			{   width:800px;
				font-weight:bold;
				color:#fff;
				padding-left:12px;
				position:absolute;
				left:120px;
				top:12px;
			}
			.lil
			{
				display:inline;
				color:#fff;
			}
			a
			{
				text-decoration: none;
			}
			a:hover
			{
				color:#f9f603;
				text-decoration: underline;
			}
			#zhong
			{
				font-style: bold;
				color:#fff;
				display:inline;
			}
			#wang{color:#f9f603;}
			.nav_rearsh{height:40px;}
			#yu
            {
            	width:140px;
            	height:19px;
            	background-color: #f8f5ee;
            	position: absolute;
            	top:8px;
            	left:1000px;
            }
			#chi
			{
				width:44px;
				height:21px;
				background-color: #000;
				color:#fff;
				position: absolute;
				top:10px;
				left:1150px;
			}
			#content
			{
				width:1000px;
				margin:auto;
				clear:both;
			}
			#content_top{overflow: hidden;}
			#content_bottom_right{width:280px;position: absolute;top:20px;float:right;}
			.news_pic{width:324px;height:243px;float:left;}
			#mei{position: absolute;left:195px;top:224px;}
			#zhongyu{position: absolute;left:190px;top:430px;}
			.news_list{width:400px;float:left;padding-left: 38px;}
			#p{line-height: 30px;}
			.news_announce{width:277px;padding-top:20px;float:right;position: absolute;top:220px;left:1000px;}
			.pp{position: absolute;top:270px;left:935px;}
			#ppp{position: absolute;top:0px;line-height: 25px;}
			#content_bottom_lift{width:715px;float:left;}
			.academic{width:340px;padding-left:0px;}
			#m{position:absolute;left: 500px;top:490px;}
			#mm{line-height: 30px;}
			.book_news{width:340px;padding-left:25px;}
			#nn{position: absolute;top:480px;left:550px;}
			#n{position: absolute;top:530px;left:540px;line-height: 30px;}
			.fengcai{width:700px;clear:both;}
			#nnn{float:right;}
			#mn{position: absolute;left:850px;top:490px;}
			.ha{display: inline;}
			#haha{position: absolute;top:840px;left:160px;}
			#content_bottom_right{width:362px;}
			#right{position: absolute;top:490px;left:830px;}
			#right_bg{position: absolute;top:540px;left:760px;}
			#right_pic{position: absolute;top:560px;left:785px;}
			#color{color:red;}
			#pos{width:230px;height:300px;line-height:30px;position: absolute;top:750px;left:785px;}
			#more{position: absolute;top:875px;left:980px;}
			#footer{height:105px;}
			.footer_li{display:inline;}
			#mes{position: absolute;top:1050px;left:400px;}
			.inline{line-height: 30px;}
