<nav>
  <img src="http://www.edu2act.net/static/img/logo.png" alt="logo"/>
  <div class="nav">
      <ul>
          <li><a [routerLink]="['/home']">首页</a></li> 
          <li><a [routerLink]="['/tongbu']">同步课</a></li>
          <li><a [routerLink]="['/course']">课程</a></li>
          <li><a [routerLink]="['/shequ']" >社区</a></li>
          <input type="text" placeholder="搜素课程,问答"/>
          <button>搜索</button>
          <li class="d1">
              <ul class="d2">
                <li>@我的</li>
                <li>收到的赞</li>
                <li>评论</li>
              </ul>
            </li>
            <li class="d3">
                <ul class="d4">
                  <li>个人主页</li>
                  <li>设置</li>
                  <li>退出</li>
                </ul>
            </li>
        </ul>
  </div>
</nav>
