.s1{
    width:1030px;
    margin:15px auto;
}
.left{
    float:left;
    width:700px;
}
.top{
    width:700px;
    height:100px;
}
.bottom{
    width:700px;
    height:35px;
}
.left li{
    width:700px;
    height:135px;
    list-style: none;
    margin-top:5px;
}
.touxiang{
    width:40px;
    height:40px;
    border-radius:20px;
    float: left;

}
.touxiang img{
    width:40px;
    height:40px;
    border-radius:20px;
}
.image img{
    width:130px;
    height:90px;
    float: left;
    margin-left:5px;
}
.neilong{
    width:500px;
    height:80px;
    float:left;
    margin-left:10px;
}
.neilong p{
    font-size: 14px;
}
.read{
    float:left;
    margin-left:300px;
}
.name{
    float:left;
    margin-left:45px;
}
.right{
    width:215px;
    float:left;
    margin-left:110px;
}
.right li{
    list-style: none;
    width:210px;
    height:30px;
    margin-left:3px;
    line-height: 30px;
}
.right span{
    float:right;
    margin-right:2px;
}