<div class="s1">
  <div class="left">
    <ul>
      <li *ngFor="let card of cardarr">
        <div class="top">
          <div class="touxiang"><img src={{card.touxiang}} alt="头像/"></div>
          <div class="image"><img src={{card.image}} alt="image"/></div>
          <div class="neilong">
            <h4>{{card.biaoti}}</h4>
            <p>{{card.jianjie}}</p>
        </div>
        </div>
        <div class="bottom">
          <div class="name">
            <span>{{card.Name}}</span>
            <span>{{card.date}}</span>
          </div>
          <div class="read">
            <span>阅读{{card.read}}</span>
            <span>评论{{card.pinglun}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li><h3>热门话题</h3></li>
      <li>#2015级程序设计基...#<span>6万</span></li>
      <li>#2015级面向对像程...#<span>3万</span></li>
      <li>#cms与模板制作#<span>3万</span></li>
      <li>#数据结构#<span>3万</span></li>
      <li>#数据库原理#<span>2万</span></li>
      <li>#2014级PHP程序...#<span>2万</span></li>
      <li>#WEB开发（二）20...#<span>1万</span></li>
      <li>#数据库系统概论...#<span>1万</span></li>
      <li>#WEB开发（二）20...#<span>1万</span></li>
      <li>#WEB开发（一）20...#<span>1万</span></li>
    </ul>
  </div>
</div>