/*
* @Author: Marte
* @Date:   2017-05-09 20:11:06
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-09 20:14:39
*/
a.{
    font-family:微软雅黑;
    font-size:16px;
    color:#65a7d0;
    font-weight:bold;
}