/*
* @Author: Marte
* @Date:   2017-05-09 19:21:41
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-10 17:39:09
*/
html{
    font-famliy:Arial;
    font-size:12px;
    color:gray;
    line-height:2em;
}
a{
    color:#727272;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.menu{
    font-size:14px;
    color:#b9f605;
    font-weight:bold;
}
.a1{
    color:white;
}

.special{
    color:#fdb306;
}
td a{
    color:white;
}
